/* make a navbar with a dropdown menu  */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    height : 60px;
    width : 100%;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 0px;
   
}
   /* add padding to website name  */
.food{
    
    font-weight: bolder;
    padding-left:15px;
} 
.food2{
     font-weight:bolder;
     color:rgb(211, 128, 68);
    padding-right:170px;
}
   /* give padding to account and about us  */
.account{
    padding-left: 10px;
    padding-left: 10px;
    
} 
.about{
    padding-right: 10px;
    padding-left: 10px;
}
   /* add a underline to the navbar items on hover */
.Popular:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.Recipes:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.HealthyDiet:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.Holidays:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.Cuisine:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.Seasonal:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.account:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}
.about:hover{
  text-decoration: underline;
    text-decoration-color: rgb(20, 166, 182);
}

     /* create a dropdown menu */
.dropdown {
    position: relative;
    display: flex;
    gap: 24px;
}

.dropdown > h5 {
    margin: 0 12px;
    cursor: pointer;
    position: relative;
   padding: 8px 0; 
   font-size: 1rem;
    font-weight: 500;
}
   /* add dropdown items in dropdown menu  with padding */
.dropdown-content-1 {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    background: black;
    min-width: 170px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
    
}
.dropdown-content-2 {
    display: none;
    position: absolute;
    top: 36px;
    left: 60px;
    background: black;
    min-width: 170px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
   
}
.dropdown-content-3{
    display: none;
    position: absolute;
    top: 36px;
    left: 160px;
    background: black;
    min-width: 150px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
   
}
.dropdown-content-4 {
    display: none;
    position: absolute;
    top: 36px;
    left: 270px;
    background: black;
    min-width: 170px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
   
}
.dropdown-content-5 {
    display: none;
    position: absolute;
    top: 36px;
    left: 400px;
    background: black;
    min-width: 170px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
   
}
.dropdown-content-6 {
    display: none;
    position: absolute;
    top: 36px;
    left: 530px;
    background: black;
    min-width: 170px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
   
}
.dropdown-content-7 {
    display: none;
    position: absolute;
    top: 45px;
    left: 620px;
    background: black;
    min-width: 150px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
   
}
.dropdown-content-8 {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: black;
    min-width: 150px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.08);
    border-radius: 6px;
    z-index: 100;
    padding: 10px 0;
    
}
      /* show dropdown menu on hover */
.dropdown > h5:hover + .dropdown-content-1,
.dropdown-content-1:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h5:hover + .dropdown-content-2,
.dropdown-content-2:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h5:hover + .dropdown-content-3,
.dropdown-content-3:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h5:hover + .dropdown-content-4,
.dropdown-content-4:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h5:hover + .dropdown-content-5,
.dropdown-content-5:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h5:hover + .dropdown-content-6,
.dropdown-content-6:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h4:hover + .dropdown-content-7,
.dropdown-content-7:hover {
    display: inline;
    text-decoration: none;
}
.dropdown > h4:hover + .dropdown-content-8,
.dropdown-content-8:hover {
    display: inline;
    text-decoration: none;
}

 /* add padding,color and font size to dropdown items */
.dropdown-content-1 p,.dropdown-content-2 p,.dropdown-content-3 p,.dropdown-content-4 p,.dropdown-content-5 p,.dropdown-content-6 p ,.dropdown-content-7 p ,.dropdown-content-8 p {
    margin: 0;
    padding: 10px 24px;
    color: whitesmoke;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 0.98rem;
    text-decoration: none;
    
}
  /* add background color to dropdown items on hover */
.dropdown-content-1 p:hover,.dropdown-content-2 p:hover,.dropdown-content-3 p:hover,.dropdown-content-4 p:hover,.dropdown-content-5 p:hover,.dropdown-content-6 p:hover, .dropdown-content-7 p:hover,.dropdown-content-8 p:hover {
    background: #f2f2f2;
    color: black;
    text-decoration: none;
}
  /* give height and width to hero section and add background image */ 
.hero {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

   /* adding text in hero section  */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(43, 39, 39);
    padding: 32px 48px;
    border-radius: 12px;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    color:rgb(211, 128, 68);
}

.hero-text p {
    font-size: 1.2rem;
    margin: 0;
}
   /* add images and there text  in heading section  */
.concept-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.concept-title-1 {
    position: absolute;
    top : 125%; 
    left: 16%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2.6rem;
    margin-top: 12px;
   
}
.concept-title-2 {
    position: absolute;
    top : 125%; 
   left: 52%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2.6rem;
    margin-top: 12px;
   
}
.concept-title-3 {
    position: absolute;
    top : 125%; 
   left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2.1rem;
    margin-top: 12px;
   
}
    /* add main section with flexbox and padding */
.explore-more{
    display: flex;
}
  /* add transform on images in main section on certain time intervals */
@keyframes explore-more-img {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(25%);

    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
    }
    
}
  /* add animation on images in main section */
.explore-more-img {
    animation : explore-more-img 5s linear infinite normal;
    display: inline-block;
}
  /* add animation on text in images in main section */
.explore-more-title {
    display: inline-block;
    color:black;
    font-size: 1.2rem;
    margin-bottom: 0px;
    margin-top : 2px;
    margin-right: 0px;
    text-align: left;
    height: 20px;
    width: 350px;
      opacity: 0%;
      animation: explore-more-title 3s infinite normal;
      animation-delay: 1s;
      position: relative;
      z-index: 2;
}
  /* add animation on text in images in main section with different time intervals */
@keyframes explore-more-title {
    0% { opacity: 0; }
      25% { opacity: 25%; }
      60% { opacity: 50%; }
      100% { opacity: 100%; }
}
  /* add  margin and color in main 2_section */
.recipe-categories-heading{
  display: flex;
}
.recipe-categories-heading-2 {
    font-size: 2.2rem;
    margin-left: 20px;
}
  /* add margin and flexbox in images in main 2_section  */
.category-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
}
  /* add margin and font size in images title */
.category-title {
        font-size: 2.5rem;
        color: rgb(43, 39, 39);
        margin-left: 70px;
        margin-bottom: 200px;
}
  /* add color and font size in images title and description   */
.category-description {
        font-size: 1.2rem;
        color: rgb(211, 128, 68);    
} 

 /* give flexbox and height and width and padding and margin in footer  search area  */
.search-area {
    display: flex;
    display: inline-block;
    align-items: center;
    font-size: 1.6rem;
    background-color: #f5f1f1;
    color: rgb(63, 61, 61);
    height : 200px;
    width : 850px;
    padding-left: 400px;
    margin-top: 10px;
}
   /* add margin in search area 's  text */
.search-area h2 {
    margin-left: 130px;  
}
  /* add padding,height,width and border in search bar */
.search-area input[type="text"] {
    width: 450px;
    height: 15px;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
   /* add padding ,border and margin in submit button  */
.button{
    background-color: rgb(211, 128, 68);
    color:rgb(44, 43, 43);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 190px;
    margin-top: 10px;
}
   /* add height, width ,background and flexbox in footer */
.footer-content {
    background-color: rgb(211, 128, 68);
    height: 100px;
    width: 100%;
    display: flex;
    display: inline-block;
}
   /* remove underline from social media names */
#social-media a {
   text-decoration: none;
}