 /* give height and width to hero section and add background image */ 
.hero {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

   /* adding text in hero section  */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(43, 39, 39);
    padding: 32px 48px;
    border-radius: 12px;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    color:rgb(211, 128, 68);
}

.hero-text p {
    font-size: 1.2rem;
    margin: 0;
}

/* add css for dropdown-content */
/* .breakfast-recipes {
    padding: 20px;
} */
#recipes-header {
    background-color: rgb(211, 128, 68);
    color: white;
    height: 110px;
    width: 100%;
}


/* Style the pancake section content and images */
#recipe-1 {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#recipe-1 img {
    display: flex;
    margin: 20px auto;
    max-width: 350px;
    border-radius: 12px;
}

/* Style the omelette section content and images */
#recipe-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#recipe-2 img {
    display: flex;
    margin: 20px auto;
    max-width: 350px;
    border-radius: 12px;
}
/* Style the smoothie bowl section content and images */
#recipe-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 0 auto;
    width: 100%; */
}

#recipe-3 img {
    display: flex;
    margin: 20px auto;
    max-width: 350px;
    border-radius: 12px;
}